Repository miguel-vila/compara-tasa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"],
  "!(CLAUDE).md": ["prettier --write"]
}

chore: update-savings-rates - 2026-02-16 09:00
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-02-16 09:01
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-02-16 09:01
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-02-23 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-02-23 09:00
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-03-02 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

fix: Update Banco Caja Social parser for new PDF format
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  packages/updater/src/parsers/savings/caja_social.ts
Due: eslint --fix, prettier --write

test: Update Caja Social parser tests for new PDF format
  fixtures/banco_caja_social/savings-page.pdf
  packages/updater/src/parsers/savings/caja_social.test.ts
Due: eslint --fix, prettier --write

chore: Add tests to pre-commit hook for parser files
  .lintstagedrc
Due: none

ci: Add GitHub Actions workflows for testing
  .github/workflows/ci.yml
  .github/workflows/updater-tests.yml
Due: prettier --write

docs: add mortgage rates feature documentation
  AGENTS.md
  docs/mortgage-rates/index.md
Due: none

docs: add savings rates feature documentation
  docs/savings-rates/index.md
Due: none

clean up
  AGENTS.md
  PROGRESS-SAVINGS.md
  PROGRESS.md
  colombia-mortgage-rates-site-spec.md
  docs/architecture.md
  docs/commands.md
  docs/savings-support.md
Due: none

ci: upgrade Node.js from 20 to 22
  .github/workflows/ci.yml
  .github/workflows/updater-tests.yml
  .nvmrc
Due: prettier --write

add verify docs wf
  .github/workflows/verify-docs.yml
Due: prettier --write

chore: update-mortgage-rates - 2026-03-09 09:01
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-03-09 09:01
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

debug
  .github/workflows/verify-docs.yml
Due: prettier --write

add debug
  .github/workflows/verify-docs.yml
Due: prettier --write

chore: update-mortgage-rates - 2026-03-16 09:01
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-03-16 09:01
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-03-23 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-03-23 09:00
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-03-30 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-03-30 09:00
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-04-13 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-mortgage-rates - 2026-04-20 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

fix(pibank): update PDF URL pattern and fix savings rates fetch
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  packages/updater/src/utils/fetch.ts
Due: eslint --fix, prettier --write

feat(rankings): group tied offers under a shared position
  apps/web/components/best-mortgage-rates-section.tsx
  apps/web/components/best-savings-section.tsx
  apps/web/public/data/mortgage-rankings-latest.json
  apps/web/public/data/offers-2026-01-11T06-02-34-704Z.json
  apps/web/public/data/offers-2026-01-11T06-29-02-765Z.json
  apps/web/public/data/offers-2026-01-11T06-41-15-374Z.json
  apps/web/public/data/offers-2026-01-11T06-53-26-294Z.json
  apps/web/public/data/offers-2026-01-11T07-09-15-470Z.json
  apps/web/public/data/offers-2026-01-11T17-25-36-988Z.json
  apps/web/public/data/rankings-2026-01-11T06-02-34-704Z.json
  apps/web/public/data/rankings-2026-01-11T06-29-02-765Z.json
  apps/web/public/data/rankings-2026-01-11T06-41-15-374Z.json
  apps/web/public/data/rankings-2026-01-11T06-53-26-294Z.json
  apps/web/public/data/rankings-2026-01-11T07-09-15-470Z.json
  apps/web/public/data/rankings-2026-01-11T17-25-36-988Z.json
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/core/src/types.ts
  packages/updater/src/rankings.test.ts
  packages/updater/src/rankings.ts
  packages/updater/src/savingsRankings.test.ts
  packages/updater/src/savingsRankings.ts
  packages/updater/src/update-mortgage-rates.ts
  packages/updater/src/update-savings-rates.ts
Due: eslint --fix, prettier --write

feat(rankings): split digital channel ranking by currency
  apps/web/components/best-mortgage-rates-section.tsx
  apps/web/lib/format.ts
  apps/web/public/data/mortgage-rankings-latest.json
  docs/mortgage-rates/index.md
  packages/core/src/enums.ts
  packages/updater/src/rankings.test.ts
  packages/updater/src/rankings.ts
Due: eslint --fix, prettier --write

ci: build workspace deps in updater-tests workflow
  .github/workflows/updater-tests.yml
Due: prettier --write

ci(updater-tests): allow manual dispatch and trigger on workflow edits
  .github/workflows/updater-tests.yml
Due: prettier --write

chore: update-mortgage-rates - 2026-04-24 17:51
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-04-24 17:51
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

fix(banco-agrario): dynamically discover latest PDF URL from rates page
  .lintstagedrc
  packages/updater/src/parsers/banco-agrario.ts
Due: eslint --fix, prettier --write

chore: update-mortgage-rates - 2026-04-24 18:37
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-04-24 18:38
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

fix(updater): run scripts from source via tsx instead of stale dist/
  packages/updater/package.json
Due: prettier --write

chore: update-mortgage-rates - 2026-04-25 04:30
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write

chore: update-savings-rates - 2026-04-25 04:30
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write
