Repository miguel-vila/compara-tasa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"],
  "!(CLAUDE).md": ["prettier --write"]
}

Refactor: Simplify build process and add standalone build script
  AGENTS.md
  README.md
  nixpacks.toml
  package.json
Due: prettier --write

run
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

fix bancoomeva
  packages/updater/src/parsers/bancoomeva.ts
  packages/updater/src/utils/fetch.ts
Due: eslint --fix, prettier --write

init savings-support doc
  docs/savings-support.md
Due: none

implement savings rates
  apps/web/app/ahorros/page.tsx
  apps/web/app/page.tsx
  apps/web/components/best-savings-section.tsx
  apps/web/components/header.tsx
  apps/web/components/savings-rates-table.tsx
  apps/web/components/stats-section.tsx
  apps/web/lib/data.ts
  apps/web/lib/format.ts
  apps/web/public/data/savings-offers-latest.json
  fixtures/ban100/savings-page.html
  package.json
  packages/core/src/enums.ts
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/core/src/types.ts
  packages/updater/package.json
  packages/updater/src/parsers/savings/ban100.test.ts
  packages/updater/src/parsers/savings/ban100.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/types.ts
  packages/updater/src/update-savings.ts
  packages/updater/src/utils/hash.ts
  packages/updater/src/utils/index.ts
Due: eslint --fix, prettier --write

add new skill, rename existing
  .claude/skills/add-mortgage-rate-parser/SKILL.md
  .claude/skills/add-mortgage-rate-parser/content.md
  .claude/skills/add-savings-bank-account-parser/SKILL.md
  .claude/skills/add-savings-bank-account-parser/content.md
Due: none

add bbva savings
  .claude/skills/add-savings-bank-account-parser/SKILL.md
  .claude/skills/add-savings-bank-account-parser/content.md
  apps/web/public/data/savings-offers-latest.json
  fixtures/bbva/savings-page.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/bbva.test.ts
  packages/updater/src/parsers/savings/bbva.ts
  packages/updater/src/parsers/savings/index.ts
Due: eslint --fix, prettier --write

add commit instr
  .claude/skills/add-mortgage-rate-parser/content.md
  .claude/skills/add-savings-bank-account-parser/content.md
  scripts/implement-mortgage-banks-loop.sh
Due: none

add new script
  savings-bank-to-implement.json
  scripts/implement-savings-banks-loop.sh
Due: prettier --write

impl lulo
  .claude/skills/add-savings-bank-account-parser/content.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/lulo/savings-page.html
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/lulo.test.ts
  packages/updater/src/parsers/savings/lulo.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

Add RappiPay savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/rappipay/savings-page.html
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/rappipay.test.ts
  packages/updater/src/parsers/savings/rappipay.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

upd savings offers
  apps/web/public/data/savings-offers-latest.json
Due: prettier --write

Add Pibank savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/pibank/savings-page.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/pibank.test.ts
  packages/updater/src/parsers/savings/pibank.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

adjust loop
  savings-bank-to-implement.json
  scripts/implement-savings-banks-loop.sh
Due: prettier --write

Add Ualá savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/uala/savings-page.html
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/uala.test.ts
  packages/updater/src/parsers/savings/uala.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

Add Bancamía (RentaPlus) savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/bancamia/savings-page.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/bancamia.test.ts
  packages/updater/src/parsers/savings/bancamia.ts
  packages/updater/src/parsers/savings/index.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

Add Banco Caja Social (Alcancía Digital) savings parser
  .claude/skills/add-savings-bank-account-parser/content.md
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/banco_caja_social/savings-page.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/caja_social.test.ts
  packages/updater/src/parsers/savings/caja_social.ts
  packages/updater/src/parsers/savings/index.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

add best savings account ranking
  apps/web/components/best-savings-section.tsx
  apps/web/lib/data.ts
  apps/web/lib/format.ts
  apps/web/public/data/savings-rankings-latest.json
  packages/core/src/enums.ts
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/core/src/types.ts
  packages/updater/src/parsers/bancolombia.ts
  packages/updater/src/savingsRankings.test.ts
  packages/updater/src/savingsRankings.ts
  packages/updater/src/update-savings.ts
  packages/updater/src/utils/numbers.ts
Due: eslint --fix, prettier --write

Add Banco AV Villas savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/avvillas/savings-page.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/avvillas.test.ts
  packages/updater/src/parsers/savings/avvillas.ts
  packages/updater/src/parsers/savings/index.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

Add Banco Popular savings parser
  PROGRESS-SAVINGS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/banco_popular/savings-page.html
  packages/core/src/enums.ts
  packages/updater/src/parsers/savings/banco_popular.test.ts
  packages/updater/src/parsers/savings/banco_popular.ts
  packages/updater/src/parsers/savings/index.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

fix and run savings
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  fixtures/mi_banco/savings-page.pdf
  packages/core/src/schemas.ts
  packages/updater/src/parsers/savings/pibank.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

impl dynamic url for pibank
  .claude/skills/add-savings-bank-account-parser/content.md
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  packages/updater/src/parsers/savings/pibank.ts
  packages/updater/src/utils/fetch.ts
  packages/updater/src/utils/index.ts
Due: eslint --fix, prettier --write

support manual reports
  apps/web/components/savings-rates-table.tsx
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
  manual/nu.json
  packages/core/src/enums.ts
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/core/src/types.ts
  packages/updater/src/parsers/savings/avvillas.test.ts
  packages/updater/src/parsers/savings/avvillas.ts
  packages/updater/src/parsers/savings/ban100.test.ts
  packages/updater/src/parsers/savings/ban100.ts
  packages/updater/src/parsers/savings/bancamia.test.ts
  packages/updater/src/parsers/savings/bancamia.ts
  packages/updater/src/parsers/savings/banco_popular.test.ts
  packages/updater/src/parsers/savings/banco_popular.ts
  packages/updater/src/parsers/savings/bbva.test.ts
  packages/updater/src/parsers/savings/bbva.ts
  packages/updater/src/parsers/savings/caja_social.test.ts
  packages/updater/src/parsers/savings/caja_social.ts
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/lulo.test.ts
  packages/updater/src/parsers/savings/lulo.ts
  packages/updater/src/parsers/savings/manual.ts
  packages/updater/src/parsers/savings/pibank.test.ts
  packages/updater/src/parsers/savings/pibank.ts
  packages/updater/src/parsers/savings/rappipay.test.ts
  packages/updater/src/parsers/savings/rappipay.ts
  packages/updater/src/parsers/savings/uala.test.ts
  packages/updater/src/parsers/savings/uala.ts
  packages/updater/src/savingsRankings.test.ts
  packages/updater/src/update-savings.ts
Due: eslint --fix, prettier --write

remove uala
  fixtures/uala/savings-page.html
  packages/updater/src/parsers/savings/index.ts
  packages/updater/src/parsers/savings/uala.test.ts
  packages/updater/src/parsers/savings/uala.ts
  savings-bank-to-implement.json
Due: eslint --fix, prettier --write

test change
  README.md
Due: none

chore: add playwright dependency with auto-install
  package.json
Due: prettier --write

chore: update-rates - 2026-02-08 18:22
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  pnpm-lock.yaml
Due: prettier --write

chore: update-savings - 2026-02-08 18:22
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-rates - 2026-02-08 18:47
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

chore: update-savings - 2026-02-08 18:48
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-rates - 2026-02-08 18:56
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

chore: update-savings - 2026-02-08 18:56
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

chore: update-rates - 2026-02-08 19:00
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

chore: update-savings - 2026-02-08 19:00
  apps/web/public/data/savings-offers-latest.json
  apps/web/public/data/savings-rankings-latest.json
Due: prettier --write

upd methodology
  apps/web/app/metodologia/page.tsx
Due: eslint --fix, prettier --write

remove gh wf
  .github/workflows/update-rates.yml
Due: prettier --write

refactor: rename mortgage-specific types, functions, and files for clarity
  .claude/skills/add-mortgage-rate-parser/content.md
  AGENTS.md
  PROGRESS-SAVINGS.md
  PROGRESS.md
  README.md
  apps/web/components/best-mortgage-rates-section.tsx
  apps/web/components/mortgage-rates-table.tsx
  apps/web/components/stats-section.tsx
  apps/web/lib/data.ts
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
  package.json
  packages/core/src/enums.ts
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/core/src/types.ts
  packages/updater/package.json
  packages/updater/src/parsers/avvillas.ts
  packages/updater/src/parsers/banco-agrario.ts
  packages/updater/src/parsers/banco-de-bogota.ts
  packages/updater/src/parsers/banco-de-occidente.ts
  packages/updater/src/parsers/banco-popular.ts
  packages/updater/src/parsers/bancolombia.ts
  packages/updater/src/parsers/bancoomeva.ts
  packages/updater/src/parsers/bbva.ts
  packages/updater/src/parsers/caja-social.ts
  packages/updater/src/parsers/davivienda.ts
  packages/updater/src/parsers/fna.ts
  packages/updater/src/parsers/index.ts
  packages/updater/src/parsers/itau.ts
  packages/updater/src/parsers/scotiabank.ts
  packages/updater/src/parsers/types.ts
  packages/updater/src/rankings.test.ts
  packages/updater/src/rankings.ts
  packages/updater/src/update-mortgage-rates.ts
  packages/updater/src/update-savings-rates.ts
Due: eslint --fix, prettier --write

chore: update-mortgage-rates - 2026-02-16 09:00
  apps/web/public/data/mortgage-offers-latest.json
  apps/web/public/data/mortgage-rankings-latest.json
Due: prettier --write
