Repository miguel-vila/compara-tasa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"],
  "!(CLAUDE).md": ["prettier --write"]
}

upd
  AGENTS.md
Due: none

re run for bbva
  apps/web/public/data/offers-2026-01-11T06-29-02-765Z.json
  apps/web/public/data/rankings-2026-01-11T06-29-02-765Z.json
Due: prettier --write

re run for caja social
  apps/web/public/data/offers-2026-01-11T06-41-15-374Z.json
  apps/web/public/data/rankings-2026-01-11T06-41-15-374Z.json
Due: prettier --write

support itau
  .claude/skills/add-bank-parser/content.md
  PROGRESS.md
  README.md
  fixtures/itau/rates.pdf
  packages/updater/src/parsers/itau.test.ts
  packages/updater/src/parsers/itau.ts
Due: eslint --fix, prettier --write

add railways depl
  .github/workflows/update-rates.yml
  PROGRESS.md
  nixpacks.toml
  railway.json
Due: prettier --write

use docker instead
  .dockerignore
  Dockerfile
  railway.json
Due: prettier --write

Revert "use docker instead"
  .dockerignore
  Dockerfile
  railway.json
Due: prettier --write

fix?
  railway.json
Due: prettier --write

fix?
  nixpacks.toml
Due: none

format metodologia
  apps/web/app/metodologia/page.tsx
Due: eslint --fix, prettier --write

fix?
  apps/web/package.json
  nixpacks.toml
Due: prettier --write

add expl api health
  apps/web/app/api/health/route.ts
  railway.json
Due: eslint --fix, prettier --write

remove
  apps/web/app/metodologia/page.tsx
Due: eslint --fix, prettier --write

Fix Railway: include static file copy in build script
  package.json
Due: prettier --write

impl fna
  PROGRESS.md
  fixtures/fna/rates-page.html
  packages/core/src/enums.ts
  packages/updater/src/parsers/fna.test.ts
  packages/updater/src/parsers/fna.ts
  packages/updater/src/parsers/index.ts
  packages/updater/src/rankings.test.ts
Due: eslint --fix, prettier --write

run for banco popular
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

rm unused
  apps/web/components/rates-table.tsx
Due: eslint --fix, prettier --write

impl banco de bogota
  PROGRESS.md
  fixtures/banco_de_bogota/rates.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/banco-de-bogota.test.ts
  packages/updater/src/parsers/banco-de-bogota.ts
  packages/updater/src/parsers/index.ts
  packages/updater/src/utils/fetch.ts
Due: eslint --fix, prettier --write

call with banco de bogota
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

impl banco de bogota url logic and re-run
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  packages/updater/src/parsers/banco-de-bogota.ts
  packages/updater/src/utils/fetch.ts
  packages/updater/src/utils/index.ts
Due: eslint --fix, prettier --write

run with banc occ
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
Due: prettier --write

impl and run davivienda
  PROGRESS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/davivienda/rates.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/davivienda.test.ts
  packages/updater/src/parsers/davivienda.ts
  packages/updater/src/parsers/index.ts
Due: eslint --fix, prettier --write

rm section
  apps/web/app/metodologia/page.tsx
Due: eslint --fix, prettier --write

use a stable url for daviv
  PROGRESS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  packages/updater/src/parsers/davivienda.ts
Due: eslint --fix, prettier --write

mark deployment as done
  PROGRESS.md
Due: none

add banco agrario
  PROGRESS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/banco_agrario/rates.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/banco-agrario.test.ts
  packages/updater/src/parsers/banco-agrario.ts
  packages/updater/src/parsers/index.ts
Due: eslint --fix, prettier --write

lighter text
  apps/web/app/metodologia/page.tsx
  apps/web/app/page.tsx
  apps/web/app/tasas/page.tsx
  apps/web/components/rates-table.tsx
Due: eslint --fix, prettier --write

change color scheme
  apps/web/tailwind.config.ts
Due: eslint --fix, prettier --write

remove word
  apps/web/app/metodologia/page.tsx
Due: eslint --fix, prettier --write

fix banco de occidente
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  packages/updater/package.json
  packages/updater/src/parsers/banco-de-occidente.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update skill
  .claude/skills/add-bank-parser/SKILL.md
  .claude/skills/add-bank-parser/content.md
Due: none

add command
  .github/workflows/update-rates.yml
Due: prettier --write

remove fallbacks
  packages/updater/src/parsers/avvillas.ts
  packages/updater/src/parsers/banco-agrario.ts
  packages/updater/src/parsers/banco-de-bogota.ts
  packages/updater/src/parsers/banco-de-occidente.ts
  packages/updater/src/parsers/bbva.ts
  packages/updater/src/parsers/caja-social.ts
  packages/updater/src/parsers/davivienda.ts
  packages/updater/src/parsers/itau.ts
  packages/updater/src/parsers/scotiabank.ts
Due: eslint --fix, prettier --write

run coomeva
  PROGRESS.md
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  fixtures/bancoomeva/rates.pdf
  packages/core/src/enums.ts
  packages/updater/src/parsers/bancoomeva.test.ts
  packages/updater/src/parsers/bancoomeva.ts
  packages/updater/src/parsers/index.ts
Due: eslint --fix, prettier --write

add loop script
  scripts/implement-banks-loop.sh
Due: none

try remaining banks
  PROGRESS.md
Due: none

separate payroll benefit
  apps/web/lib/format.ts
  apps/web/public/data/offers-latest.json
  apps/web/public/data/rankings-latest.json
  packages/core/src/enums.ts
  packages/updater/src/rankings.test.ts
  packages/updater/src/rankings.ts
Due: eslint --fix, prettier --write

separate section
  apps/web/components/best-rates-section.tsx
Due: eslint --fix, prettier --write

remove section
  apps/web/components/best-rates-section.tsx
Due: eslint --fix, prettier --write
